{
  "parser": "babel-eslint",
	
	"env": {
    "browser": true,
    "node": true
  },

  "plugins": ["react"],

  "ecmaFeatures": {
    
    "jsx": true
  },
	
  "rules": {
		
    //
    // Strict Mode
    //
    // These rules relate to using strict mode.
    //
    "strict": 0, // controls location of Use Strict Directives. 0: required by `babel-eslint`

    
  }
}
